{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Cilla's Minimart</title>
{% endblock meta %}
{% block content %}
{% include 'navbar.html' %}
<div class="overflow-x-hidden px-4 md:px-8 pb-8 pt-24 min-h-screen bg-gray-100 flex flex-col">
    {% if not products %}
    <div class="flex flex-col items-center justify-center min-h-[28rem] p-6">
        <img src="{% static 'image/sedih-banget.png' %}" alt="Sad face" class="w-32 h-32"/>
        <p class="text-center text-red-600 mb-2">Belum ada barang yang tersedia.</p>
        <a href="{% url 'main:create_product' %}" class="w-auto bg-yellow-500 hover:bg-yellow-600 text-white font-bold py-2 px-4 rounded-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105">
            Add New Product
        </a>
    </div>
    {% else %}
    <div class="flex justify-between mb-6">
        <p class="text-2xl text-yellow-500 font-bold mb-2">Shop</p>
        <a href="{% url 'main:create_product' %}" class="w-auto bg-yellow-500 hover:bg-yellow-600 text-white font-bold py-2 px-4 rounded-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105">
            Add New Product
        </a>
    </div>
    <div class="columns-1 sm:columns-2 lg:columns-3 gap-6 space-y-6 w-full">
        {% for product in products %}
            {% include 'card_product.html' with product=product %}
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock content %}